.tela-login-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #292929;
}
.tela-login-main img {
    margin-top: 30px ;
    margin-bottom: 40px;
}
ul{
    color: #ffff;
    list-style: none;
}
.wrapper-login-main{
    height: 65px;
    width: 100%;
    background-color: #090909;
    border-bottom: solid 2px #F7CF32;
}
.wrapper-logo{
    width: 100%;
    margin-top: 25px;
    border-bottom: solid 2px #8A8A8A;
}
.tela-login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #1A1A1A;
    width: 530px;
    height: 480px;
    margin: 0 auto;
    border-radius: 9px;
    opacity: 1;
    margin-top: 30px;
    font-size: 1.5625rem;
    color: #707070;
    font-weight: bold;
}
.tela-login img {
    width: 260px;
    height: 55px;
    margin-top: 60px;
}
form input {
    border: 1px solid #f1eeee;
    border-radius: 6px;
    box-sizing: border-box;
    color: #8a8a8a;
    width: 338px;
    height: 45px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 0 18px 0 18px;
    text-align: center;
}
form button {
    width: 338px;
    height: 45px;
    border-radius: 6px;
    border: 1px solid #f1eeee;
    text-transform: uppercase;
    background-color: #F7CF32;
    color: #111111;
    margin-top: 10px;
}
form button:hover {
    background-color: #3133af;
    color: #F8F8F8;
    border-radius: 6px;
}
