td {
    border: 1px solid #e9e3e3;
    height: 78px;
}   
th {
    background: #1A1A1A;
    height: 78px;
    color: #D4D4D5;
}
table {
    border-collapse: collapse;
    opacity: 0.80;
    width: 72vw;
    text-align: center;
    color: #D4D4D5;
    border-radius: 2px;
    margin-left: 30px;
}