{% extends 'base.html' %}
{% load static %}
{% load getattribute %}
{% block title %}
<title>Cadastro de Operações</title>
{% endblock title %}

{% block content %}
<div class="operation-form">
  <div class="main-page-form">
    <div class="header-form">
      <div class="text-header-form">
        <span>Cadastro de Operações</span>
        <p>Informações Gerais</p>
      </div>
      <div class="progress-container">
        <div class="progressbar-text">
          <p>Informações de registro</p>
          <p>Informações gerais</p>
          <p>Informações operacionais</p>
          <p>Informações de resultado</p>
          <p>Finalizar cadastro</p>
        </div>
        <progress  max="100" value="25" id="progressbar"></progress>
        <ul class="progressbar">
            <li class="progressbar-checked"></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
      </div>
    </div>
    <div class="form-main">
      <form action="/" id="main-form"   method="post" enctype="multipart/form-data">
        <input type="hidden" id="form_uuid" value="{{ form_uuid }}" >
        <div class="box-form-group">
          <div class="operation-time">
            <div>
              <label for="name">Data da operação </label>
              <input placeholder="Data da operação" type="date" id="data" value={{ operacao_info.data|default:"''" }} name="data" >
            </div>
            <div class="styled-select">
              <label>Hora de início da operação </label>
              <input type="time" id="hora_inicio" value={{ operacao_info.hora_inicio|default:"''" }} name="hora_inicio" >
            </div>
            <div class="styled-select">
              <label>Hora de término da operação </label>
              <input type="time" id="hora_termino" value={{ operacao_info.hora_termino|default:"''" }} name="hora_termino" >
            </div>
          </div>

          <div class="form-group location-form">
            <div class="operation-location">
              <div>
                <label>Município da operação </label>
                <div class="styled-select">
                  <select
                      class="form-control required"
                      id="municipio-1"
                      name="municipio-1"
                      onchange="getBairros(this);"
                      >
                      <option value="">-</option>
                      {% for municipio in municipios %}
                      <option value="{{ municipio.nm_mun }}" {% if municipio.nm_mun == operacao_info.localidade_operacao.0.municipio %} selected {% endif %}>{{ municipio.nm_mun }}</option>
                      {% endfor %}
                  </select>
                </div>
              </div>
              <div class="styled-select">
                <label>Bairro da operação</label>
                <select class="form-control required" id="bairro-1" name="bairro-1" >
                    <option value="">-</option>
                    {% for bairro in bairros|getattribute:1 %}
                    <option value="{{ bairro.bairro }}" {% if bairro.bairro == operacao_info.localidade_operacao.0.bairro|default:"''" %} selected {% endif %}>{{ bairro.bairro }}</option>
                    {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <label>Endereço</label>
                <input placeholder="Endereço" type="text" name="endereco_referencia-1" value="{{ operacao_info.localidade_operacao.0.endereco_referencia|default:'' }}" id="endereco_referencia-1" class="form-control required" >    
              </div>
              <div class="styled-select">
                <label>Localidade</label>
                <input placeholder="Localidade" type="text" id="localidade-1" value="{{ operacao_info.localidade_operacao.0.localidade|default:'' }}" name="localidade-1" >
              </div>
            </div>
          </div>
        </div>

        <div id="localidades-container">
          {% for localidade in operacao_info.localidade_operacao %}
          {% if forloop.counter != 1 %}
          <div class="box-form-group">
            <div class="operation-location">
              <div class="form-group">
                <label>Município da Operação </label>
                <div class="styled-select">
                  <select
                      class="form-control required"
                      id="municipio-{{ forloop.counter }}"
                      name="municipio-{{ forloop.counter }}"
                      onchange="getBairros(this);"
                      
                      >
                      <option value="">-</option>
                      {% for municipio in municipios %}
                      <option value="{{ municipio.nm_mun }}" {% if municipio.nm_mun == localidade.municipio %} selected {% endif %}>{{ municipio.nm_mun }}</option>
                      {% endfor %}
                  </select>
                </div>
              </div>
              <div class="styled-select">
                <label>Bairro da operação </label>
                <select class="form-control required" id="bairro-{{ forloop.counter }}" name="bairro-{{ forloop.counter }}" >
                    <option value="">-</option>
                    {% with y=forloop.counter|stringformat:"s" %}
                    {% with bairros_x="bairros_"|add:y %}
                      {% for bairro in bairros|getattribute:forloop.counter %}
                      <option value="{{ bairro.bairro }}" {% if bairro.bairro == localidade.bairro|default:"''" %} selected {% endif %}>{{ bairro.bairro }}</option>
                      {% endfor %}
                    {% endwith %}
                    {% endwith %}
                </select>
              </div>
              <div class="form-group">
                <label>Endereço</label>
                <input type="text" name="endereco_referencia-{{ forloop.counter }}" value="{{ localidade.endereco_referencia|default:'' }}" id="endereco_referencia-{{ forloop.counter }}" class="form-control required" >
              </div>
              <div class="styled-select">
                <label>Localidade</label>
                <input type="text" id="localidade-{{ forloop.counter }}" value="{{ localidade.localidade|default:'' }}" name="localidade-{{ forloop.counter }}" >
              </div> 
            </div>
          </div>
          {% endif %}
          {% endfor %}
        </div>
        
        <button id="add-another" onclick="addAnother(event)">Adicionar localidade +</button>
      </form>
      <div><p>Página 2</p></div>

      <div class="btns-forms">
          <a href="{% url 'operations:form-update' form_uuid %}">
            <button type="submit" class="btn-previus">Anterior</button>
          </a>
          <button type="submit" class="btn-next" onclick="submitFormInfo(event);">Próximo</button>
      </div>
    </div>
  </div>
  <div class="logo">
    <img src="{% static "img/logo-MP.png" %}" alt="logo_MP">
  </div>
</div>

{% endblock content %}

{% block extra_js %}
      <script src="{% static 'js/informacoes_gerais.js' %}"></script>
      <script>
        const FORWARD_URL = '/operacoes/cadastro/informacoes/gerais/parte-2/';
        const API_URL = '/v1/operacoes/cria-informacoes-gerais-parte-1/';
        let COUNT_LOCALIDADE = {{ nb_localidades| escapejs }};

        let FORM_VAR_LIST = {
            "data": "#data",
            "hora_inicio": "#hora_inicio",
            "hora_termino": "#hora_termino",
            "municipio-1": "#municipio-1",
            "bairro-1": "#bairro-1",
            "localidade-1": "#localidade-1",
            "endereco_referencia-1": "#endereco_referencia-1",
          };

        for (i = 1; i < COUNT_LOCALIDADE + 1; i++) {
            FORM_VAR_LIST[`municipio-${i}`] = `#municipio-${i}`
            FORM_VAR_LIST[`bairro-${i}`] = `#bairro-${i}`
            FORM_VAR_LIST[`localidade-${i}`] = `#localidade-${i}`
            FORM_VAR_LIST[`endereco_referencia-${i}`] = `#endereco_referencia-${i}`
          };
        
        // get extra form count so we know what index to use for the next item.

        function addAnother(event) {
          event.preventDefault();
          COUNT_LOCALIDADE++;
          if (COUNT_LOCALIDADE == 1){
            COUNT_LOCALIDADE++;
          }

          let element = `<div class="box-form-group">
            <div class="operation-location">
              <div class="form-group">
                <label>Município da Operação </label>
                <div class="styled-select">
                  <select
                      class="form-control required"
                      id="municipio-${COUNT_LOCALIDADE}"
                      name="municipio-${COUNT_LOCALIDADE}"
                      onchange="getBairros(this);"
                      >
                      <option value="">-</option>
                      {% for municipio in municipios %}
                      <option value="{{ municipio.nm_mun }}" {% if municipio.nm_mun == operacao_info.municipio %} selected {% endif %}>{{ municipio.nm_mun}}</option>
                      {% endfor %}
                  </select>
                </div>
              </div>
              <div class="styled-select">
                <label>Bairro da operação </label>
                <select class="form-control required" id="bairro-${COUNT_LOCALIDADE}" name="bairro-${COUNT_LOCALIDADE}" >
                    <option value="">-</option>
                    {% for bairro in bairros %}
                    <option value="{{ bairro.bairro }}" {% if bairro.bairro == operacao_info.bairro|default:"''" %} selected {% endif %}>{{ bairro.bairro}}</option>
                    {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <label>Endereço</label>
                <input type="text" name="endereco_referencia-${COUNT_LOCALIDADE}" value="{{ operacao_info.endereco_referencia|default:'' }}" id="endereco_referencia-${COUNT_LOCALIDADE}" class="form-control required" >
              </div>
              <div class="styled-select">
                <label>Localidade</label>
                <input type="text" id="localidade-${COUNT_LOCALIDADE}" value="{{ operacao_info.localidade|default:'' }}" name="localidade-${COUNT_LOCALIDADE}" >
              </div>
            </div>
          </div>`;

          document.getElementById('localidades-container').insertAdjacentHTML('beforeend', element);

          FORM_VAR_LIST[`municipio-${COUNT_LOCALIDADE}`] = `#municipio-${COUNT_LOCALIDADE}`
          FORM_VAR_LIST[`bairro-${COUNT_LOCALIDADE}`] = `#bairro-${COUNT_LOCALIDADE}`
          FORM_VAR_LIST[`localidade-${COUNT_LOCALIDADE}`] = `#localidade-${COUNT_LOCALIDADE}`
          FORM_VAR_LIST[`endereco_referencia-${COUNT_LOCALIDADE}`] = `#endereco_referencia-${COUNT_LOCALIDADE}`
        }

      </script>
{% endblock extra_js %}