{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Cadastro de Operaçãoes</title>
{% endblock title %}

{% block content %}
<div class="operation-form">
  <span>Cadastro de Operações</span>
  <div class="main-page-form">
    <div class="header-form">
      <div class="text-header-form">
        <p>Informações Gerais</p>
      </div>
      <div>
        <div class="progressbar-text">
        <p>Informações Gerais</p>
        <p>ADPF 635</p>
        <p>Informações Operacionais 1/1</p>
        <p>Informações Operacionais 1/2</p>
        <p>Informações de Resultado</p>
        <p>Informações da Ocorrência 1/1</p>
        <p>Informações da Ocorrência 1/2</p>
        <p>Observações Gerais</p>
        <p>Finalizar cadastro</p>
        </div>
        <progress  max="100" value="0" id="progressbar"></progress>
        <ul class="progressbar">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
      </div>
    </div>
    <div class="form-main">
      <form action="/" id="main-form"   method="post" enctype="multipart/form-data">
          <input type="hidden" id="form_uuid" value="{{ form_uuid }}" >

        <div class="form-group">
          <label>Número do inquérito mãe</label>
          <input type="text" name="numero_inquerito_mae" value="{{ operacao_info.numero_inquerito_mae|default:'' }}"
            id="numero_inquerito_mae" class="form-control required" required>
        </div>

        <div class="form-group">
          <label for="fname">Tipo de operação</label>
          <div class="styled-select">
            <select class="form-control required" id="tipo_operacao" name="tipo_operacao" required>
              <option value="">-</option>
              {% for tipo_operacao in tipos_operacoes %}
              <option value="{{ tipo_operacao.0 }}" {% if tipo_operacao.0 == operacao_info.tipo_operacao %}selected{% endif %}> {{ tipo_operacao.1 }} </option>
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="form-group">
          <label>Nome da Operação</label>
          <input type="text" name="nome_operacao" value="{{ operacao_info.nome_operacao|default:'' }}"
            id="nome_operacao" class="form-control required" required>
        </div>

      </form>
      <div class="btns-forms">
          <button type="submit" class="btn-next" onclick="submitFormInfo(event);">Próximo</button>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block extra_js %}
      <script src="{% static 'js/informacoes_gerais.js' %}"></script>
{% endblock extra_js %}