{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Cadastro de Operações</title>
{% endblock title %}

{% block content %}
<div class="operation-form">
  <div class="main-page-form">
    <div class="header-form">
      <div class="text-header-form">
        <span>Cadastro de Operações</span>
        <p>Informações operacionais</p>
      </div>
      <div>
        <div class="progressbar-text">
          <p>Informações de registro</p>
          <p>Informações gerais</p>
          <p>Informações operacionais</p>
          <p>Informações de resultado</p>
          <p>Finalizar cadastro</p>
        </div>
        <progress  max="100" value="50" id="progressbar"></progress>
        <ul class="progressbar">
          <li class="progressbar-checked"></li>
          <li class="progressbar-checked"></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
    </div>
    <div class="form-main">
      <form action="/" id="main-form"  method="post" enctype="multipart/form-data">
        <input type="hidden" id="form_uuid" value="{{ form_uuid }}">
        <div id="box-form-group-info-operation-one">
          <div>
            <label for="name">Delegado responsável</label>
            <input type="text" value="{{ operacao_info.nome_delegado_operacao|default:'' }}" id="nome_delegado_operacao" name="nome_delegado_operacao" >
          </div>
          <div>
            <label for="name">ID funcional</label>
            <input style="width: 150px;" type="text" value="{{ operacao_info.matricula_id_delegado_operacao|default:'' }}" id="matricula_id_delegado_operacao" name="matricula_id_delegado_operacao">
          </div>
          <div class="styled-select">
            <label>Natureza da operação </label>
            <select style="width: 150px; class="form-control required" id="natureza_operacao" name="natureza_operacao" >
              <option value="">-</option>
              {% for natureza in natureza_operacoes %}
              <option value="{{ natureza.0 }}" {% if natureza.0 == operacao_info.natureza_operacao|default:'' %} selected {% endif %}>
                {{ natureza.1 }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="styled-select">
            <label>Unidade da polícia judiciária responsável (UPAJ)</label>
            <select class="form-control required" id="unidade_responsavel" name="unidade_responsavel" >
              <option value="">-</option>
              {% for unidade in unidades_policia_judiciaria %}
              <option value="{{ unidade.0 }}" {% if unidade.0 == operacao_info.unidade_responsavel|default:'' %} selected {% endif %}>
                {{ unidade.1 }}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <div id="box-form-group-info-operation-one">
          <div class="form-group">
            <label>Recebeu apoio de outras unidades policiais?</label>
            <div class="input-type-checked">
            <div class="form-control" id="apoio_recebido" name="apoio_recebido" >
              <label>Sim</label>
              <input type="radio" name="option-apoio" {% if operacao_info.apoio_recebido %}checked{% endif %} value="1">
              <label style="margin-left: 20px">Não</label>
              <input type="radio" name="option-apoio" {% if operacao_info.apoio_recebido == False %}checked{% endif %} value="0">
            </div>
            </div>
            <div class="styled-select">
              <label style="margin-bottom: 10px;">Quais ?</label>
              <select id="unidades_apoiadoras" class="form-control required" name="unidades_apoiadoras" multiple>
                {% for unidade in unidades_policia_judiciaria %}
                <option value="{{ unidade.0 }}" {% if unidade.0 in operacao_info.unidades_apoiadoras %} selected {% endif %}>{{ unidade.1 }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label>Operação integrada com órgãos externos?</label>
            <div class="input-type-checked">
              <div class="form-control" id="operacao_integrada" name="operacao_integrada" >
                <label >Sim</label>
                <input type="radio" name="option-integrada" {% if operacao_info.operacao_integrada %}checked{% endif %} value="1">
                <label style="margin-left: 20px">Não</label>
                <input type="radio" name="option-integrada" {% if operacao_info.operacao_integrada == False %}checked{% endif %} value="0">
              </div>
            </div>
            <div class="styled-select">
              <label style="margin-bottom: 10px;">Quais ?</label>
              <select id="orgaos_externos" class="form-control required" name="orgaos_externos" multiple>
                {% for orgao in orgaos_externos %}
                <option value="{{ orgao.0 }}" {% if orgao.0 in operacao_info.orgaos_externos %} selected {% endif %}>{{ orgao.1 }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
      </form>

      <div class="btns-forms">
        <div class="btns-forms">
          <a href="{% url 'operations:form-general-info-page-two' form_uuid %}">
            <button type="submit" class="btn-previus">Anterior</button>
          </a>
        </div>
          <button type="submit" class="btn-next" onclick="submitFormInfo(event)">Proxímo</button>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block extra_js %}
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.css"> -->
<link href="{% static 'css/choices.css' %}" rel="stylesheet">
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->
<script src="{% static 'js/choices.min.js' %}"></script>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

<script>
  $(document).ready(function () {

      var multipleCancelButtonUnits = new Choices('#unidades_apoiadoras', {
        removeItemButton: true,
        // maxItemCount: 5,
        // searchResultLimit: 5,
        // renderChoiceLimit: 5
      });
      var multipleCancelButtonInstitutions = new Choices('#orgaos_externos', {
      removeItemButton: true,
      // maxItemCount: 5,
      // searchResultLimit: 5,
      // renderChoiceLimit: 5
    });


    });

const FORWARD_URL = '/operacoes/cadastro/informacoes/operacionais/parte-2/';
const API_URL = '/v1/operacoes/cria-informacoes-operacionais-parte-1/';
const FORM_VAR_LIST = {
    "nome_delegado_operacao": "#nome_delegado_operacao",
    "matricula_id_delegado_operacao": "#matricula_id_delegado_operacao",
    "natureza_operacao": "#natureza_operacao",
    "unidade_responsavel": "#unidade_responsavel",
    "unidades_apoiadoras": "#unidades_apoiadoras",
    "orgaos_externos": "#orgaos_externos",
    "apoio_recebido": "#apoio_recebido",
    "operacao_integrada": "#operacao_integrada",
};

</script>
{% endblock extra_js %}