{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title>Cadastro de Operações</title>
{% endblock title %}

{% block content %}
    <div class="operation-form">
        <div class="main-page-form">
            <div class="header-form">
                <div class="text-header-form">
                    <span>Cadastro de Operações</span>
                    <p>Informações Operacionais</p>
                </div>
                <div>
                    <div class="progressbar-text">
                        <p>Informações de registro</p>
                        <p>Informações gerais</p>
                        <p>Informações operacionais</p>
                        <p>Informações de resultado</p>
                        <p>Finalizar cadastro</p>
                    </div>
                    <progress max="100" value="50" id="progressbar"></progress>
                    <ul class="progressbar">
                        <li class="progressbar-checked"></li>
                        <li class="progressbar-checked"></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
            <div class="form-main">
                <form action="/" id="main-form" method="post" enctype="multipart/form-data">
                    <input type="hidden" id="form_uuid" value="{{ form_uuid }}">
                    <div class="input-type-checked-results-one">
                        <div class="">
                            <label>Número de agentes?</label>
                            <input type="number" min="1"
                                   value="{{ operacao_info.numero_agentes_mobilizados|default:1 }}"
                                   name="numero_agentes_mobilizados" id="numero_agentes_mobilizados"
                                   class="form-control">
                        </div>
                        <div class="">
                            <label>Número de viaturas?</label>
                            <input type="number" min="0"
                                   value="{{ operacao_info.numero_viaturas_mobilizadas|default:0 }}"
                                   name="numero_viaturas_mobilizadas"
                                   id="numero_viaturas_mobilizadas" class="form-control">
                        </div>
                        <div class="">
                            <label>Número de veículos blindados?</label>
                            <input type="number" min="0" value="{{ operacao_info.numero_veiculos_blindados|default:0 }}"
                                   name="numero_veiculos_blindados"
                                   id="numero_veiculos_blindados" class="form-control">
                        </div>
                        <div class="">
                            <label>Número de aeronaves?</label>
                            <input type="number" min="0" value="{{ operacao_info.numero_aeronaves|default:0 }}"
                                   name="numero_aeronaves"
                                   id="numero_aeronaves" class="form-control">
                        </div>

                        <div class="">
                            <label>Equipes médicas de apoio?</label>
                            <input type="number" min="0" value="{{ operacao_info.numero_equipes_medicas|default:0 }}"
                                   name="numero_equipes_medicas"
                                   id="numero_equipes_medicas" class="form-control">
                        </div>

                        <div class="">
                            <label>Numero de ambulancia</label>
                            <input type="number" min="0" value="{{ operacao_info.numero_ambulancia|default:0 }}"
                                   name="numero_ambulancia"
                                   id="numero_ambulancia" class="form-control">
                        </div>

                    </div>

                    <div class="box-form-group">
                        <div class="">
                            <label>Justificativa para uso de aeronave:</label>
                            <textarea style="width: 100vh; height: 200px;" type="text"
                                      id="justificativa_uso_aeronave"
                                      value="{{ operacao_info.justificativa_uso_aeronave|default:'' }}"
                                      name="justificativa_uso_aeronave">{{ operacao_info.justificativa_uso_aeronave|default:'' }}
                            </textarea>
                        </div>
                    </div>

                    <div class="input-type-checked" style="margin-bottom: 30px; margin-top: 30px; width: 100%">
                        <div class="input-wrapper">
                            <div class="form-control" id="comunicou_escolas_saude" name="comunicou_escolas_saude">
                                <div style="margin-left: 20px; text-align: left;">
                                    <label style="max-width: 200px; margin-top: -16px;" for="data">Comunicou a
                                        equipamentos de saúde e escolas?</label>
                                    <div class="form-control-input-radios">
                                        <label> Sim</label>
                                        <input type="radio" name="option-comunicou"
                                               {% if operacao_info.comunicou_escolas_saude %}checked{% endif %}
                                               value="1">
                                        <label style="margin-left: 20px">Não</label>
                                        <input type="radio" name="option-comunicou"
                                               {% if operacao_info.comunicou_escolas_saude == False %}checked{% endif %}
                                               value="0">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="input-wrapper">
                            <div class="form-control" id="escolas_perto" name="escolas_perto">
                                <div style="margin-left: 20px; text-align: left;">
                                    <label for="data">Escolas nas proximidades?</label>
                                    <div class="form-control-input-radios">
                                        <label> Sim</label>
                                        <input type="radio" name="option-escolas" value="1"
                                               {% if operacao_info.escolas_perto %}checked{% endif %}>
                                        <label style="margin-left: 20px">Não</label>
                                        <input type="radio" name="option-escolas" value="0"
                                               {% if operacao_info.escolas_perto == False %}checked{% endif %}>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="input-wrapper">
                            <div class="form-control" id="hospitais_perto" name="hospitais_perto">
                                <div style="margin-left: 20px; text-align: left;">
                                    <label for="data">Hospitais nas proximidades?</label>
                                    <div class="form-control-input-radios">
                                        <label> Sim</label>
                                        <input type="radio" name="option-hospitais" value="1"
                                               {% if operacao_info.hospitais_perto %}checked{% endif %}>
                                        <label style="margin-left: 20px">Não</label>
                                        <input type="radio" name="option-hospitais" value="0"
                                               {% if operacao_info.hospitais_perto == False %}checked{% endif %}>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="box-form-group">
                        <div class="">
                            <label>Análise de riscos e medidas de controle de danos colaterais das operações:</label>
                            <textarea style="width: 100vh; height: 200px;" type="text"
                                      id="descricao_analise_risco"
                                      value="{{ operacao_info.descricao_analise_risco|default:'' }}"
                                      name="descricao_analise_risco">{{ operacao_info.descricao_analise_risco|default:'' }}
                            </textarea>
                        </div>
                    </div>

                </form>
                <div><p>Página 5</p></div>
                <div class="btns-forms">
                    <div class="btns-forms">
                        <a href="{% url 'operations:form-operational-info-page-one' form_uuid %}">
                            <button type="submit" class="btn-previus">Anterior</button>
                        </a>
                    </div>
                    <button type="submit" class="btn-next" onclick="submitFormInfo(event);">Proxímo</button>
                </div>
            </div>
        </div>
        <div class="logo">
            <img src="{% static "img/logo-MP.png" %}" alt="logo_MP">
        </div>
    </div>
{% endblock content %}

{% block extra_js %}
    <script>

        //toggleOrdemOperacoesField();
        const FORWARD_URL = '/operacoes/cadastro/informacoes/etapa-1-concluida/';
        const API_URL = '/v1/operacoes/cria-informacoes-operacionais-parte-2/';
        const FORM_VAR_LIST = {
            "numero_viaturas_mobilizadas": "#numero_viaturas_mobilizadas",
            "numero_agentes_mobilizados": "#numero_agentes_mobilizados",
            "numero_veiculos_blindados": "#numero_veiculos_blindados",
            "numero_aeronaves": "#numero_aeronaves",
            "numero_ambulancia": "#numero_ambulancia",
            "justificativa_uso_aeronave": "#justificativa_uso_aeronave",
            "numero_equipes_medicas": "#numero_equipes_medicas",
            "comunicou_escolas_saude": "#comunicou_escolas_saude",
            "escolas_perto": "#escolas_perto",
            "hospitais_perto": "#hospitais_perto",
            "descricao_analise_risco": "#descricao_analise_risco"
        };

        function toggleOrdemOperacoesField() {
            tipoOperacaoField = document.querySelector("#tipo_operacao");
            ordemOperacoesField = document.querySelector("#numero_ordem_operacoes");

            if (tipoOperacaoField.value == "Em") {
                ordemOperacoesField.disabled = true;
                ordemOperacoesField.classList.add("input-disabled");
            } else {
                ordemOperacoesField.disabled = false;
                ordemOperacoesField.classList.remove("input-disabled");
            }

        }
    </script>

{% endblock extra_js %}
