{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>ROPC</title>
{% endblock title %}

{% block content %}
<div class="operation-form">
<div class="main-page-form">
    <div class="header-form">
        <div class="text-header-form">
            <span>Cadastro de Operações</span>
            <p>Finalização do cadastro</p>
        </div>
        <div>
            <div class="progressbar-text">
                <p>Informações de registro</p>
                <p>Informações gerais</p>
                <p>Informações operacionais</p>
                <p>Informações de resultado</p>
                <p>Finalizar cadastro</p>
            </div>
            <progress max="100" value="50" id="progressbar"></progress>
            <ul class="progressbar">
                <li class="progressbar-checked"></li>
                <li class="progressbar-checked"></li>
                <li class="progressbar-checked"></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
    <div class="page-final-cadastro">
        <img src="{% static "img/icon-checked.png" %}" alt="icon-checked">
        <span>Etapa 01 do cadastro concluída e salva automaticamente!</span>
        <p>
        As próximas informações a serem preenchidas são informações referentes aos resultados da operação. Caso a operação ainda
        não tenha sido finalizada, é possível preenchê-la futuramente na aba <strong>"Lista de Operações"</strong>. Se já possui as informações
        conclusivas da operação, clique em <strong>"Continuar cadastro da operação"</strong>.
        </p>
        <div class="btns-forms">
            <div class="btns-forms">
                <a href="{% url 'home' %}">
                    <button type="submit" class="btn-previus">Página inicial</button>
                </a>
            </div>
            <div class="btns-forms">
                <a href="{% url 'operations:form-info-result-page-one' form_uuid %}">
                    <button type="submit" class="btn-next">Continuar cadastro da operação</button>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="logo">
    <img src="{% static "img/logo-MP.png" %}" alt="logo_MP">
</div>
</div>

{% endblock content %}