{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title>ROPC</title>
{% endblock title %}

{% block content %}
    <div class="operation-form">
        <div class="main-page-form">
            <div class="header-form">
                <div class="text-header-form">
                    <span>Cadastro de Operações</span>
                    <p>Informações Operacionais</p>
                </div>
                <div>
                    <div class="progressbar-text">
                        <p>Informações de registro</p>
                        <p>Informações gerais</p>
                        <p>Informações operacionais</p>
                        <p>Informações de resultado</p>
                        <p>Finalizar cadastro</p>
                    </div>
                    <progress max="100" value="50" id="progressbar"></progress>
                    <ul class="progressbar">
                        <li class="progressbar-checked"></li>
                        <li class="progressbar-checked"></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
            <div class="form-main" >
                <form action="/" id="main-form" method="post" enctype="multipart/form-data">
                
                    <input type="hidden" id="form_uuid" value="{{ form_uuid }}">
                    <div class="input-type-checked-results-one">
                        <div class="">
                            <label>Número de agentes?</label>
                            <input type="number" min="1"
                                   value="{{ operacao_info.numero_agentes_mobilizados|default:1 }}"
                                   name="numero_agentes_mobilizados" id="numero_agentes_mobilizados"
                                   class="form-control">
                        </div>
                        <div class="">
                            <label>Número de viaturas?</label>
                            <input type="number" min="0"
                                   value="{{ operacao_info.numero_viaturas_mobilizadas|default:0 }}"
                                   name="numero_viaturas_mobilizadas"
                                   id="numero_viaturas_mobilizadas" class="form-control">
                        </div>
                        <div class="">
                            <label>Número de veículos blindados?</label>
                            <input type="number" min="0" value="{{ operacao_info.numero_veiculos_blindados|default:0 }}"
                                   name="numero_veiculos_blindados"
                                   id="numero_veiculos_blindados" class="form-control">
                        </div>
                        <div class="">
                            <label>Número de aeronaves?</label>
                            <input type="number" min="0" value="{{ operacao_info.numero_aeronaves|default:0 }}"
                                   name="numero_aeronaves"
                                   id="numero_aeronaves" class="form-control">
                        </div>

                        <div class="">
                            <label>Equipes médicas de apoio?</label>
                            <input type="number" min="0" value="{{ operacao_info.numero_equipes_medicas|default:0 }}"
                                   name="numero_equipes_medicas"
                                   id="numero_equipes_medicas" class="form-control">
                        </div>

                        <div class="">
                            <label>Número de ambulâncias</label>
                            <input type="number" min="0" value="{{ operacao_info.numero_ambulancia|default:0 }}"
                                   name="numero_ambulancia"
                                   id="numero_ambulancia" class="form-control">
                        </div>

                    </div>

                    <div class="box-form-group">
                        <div class="">
                            <label>Justificativa para uso de aeronave:</label>
                            <textarea style="width: 100vh; height: 200px;" type="text"
                                      id="justificativa_uso_aeronave"
                                      value='{{ operacao_info.justificativa_uso_aeronave|default:"Não houve uso de aeronave"}}'
                                      name="justificativa_uso_aeronave">{{ operacao_info.justificativa_uso_aeronave|default:"Não houve uso de aeronave" }}
                            </textarea>
                        </div>
                    </div>

                    <div class="input-type-checked" style="letter-spacing: 0.5px; max-width: 100%; flex-direction: column; margin: 30px 0px; width: 100%">
                        <div class="input-wrapper">
                            <div class="form-control" id="escolas_perto" name="escolas_perto">
                                <div style="margin-left: 20px; text-align: left;">
                                    <label for="data">Escolas nas proximidades?</label>
                                        <div class="form-control-input-radios">
                                            <label> Sim</label>
                                            <input type="radio" name="option-escolas" value="1" onclick="verifica_escola()"
                                                    {% if operacao_info.escolas_perto %}checked{% endif %}>
                                            <label style="margin-left: 20px">Não</label>
                                            <input type="radio" name="option-escolas" value="0" onclick="verifica_escola()"
                                                    {% if operacao_info.escolas_perto == False %}checked{% endif %}>  
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                            <div class="input-wrapper">
                                <div class="form-control" id="comunicacao_escola" name="comunicacao_escola">
                                    <div class="{% if operacao_info.escolas_perto %}{% else %}hide{% endif %}" style="margin-left: 20px; text-align: left; word-wrap: break-word;">
                                        <label for="data">Houve comunicação prévia às autoridades de educação?</label>
                                        <div class="form-control-input-radios">
                                            <label> Sim</label>
                                            <input type="radio" name="option-comunicao-escola" value="1"
                                                {% if operacao_info.comunicacao_escola %}checked{% endif %}>
                                            <label style="margin-left: 20px">Não</label>
                                            <input type="radio" name="option-comunicao-escola" value="0"
                                                {% if operacao_info.comunicacao_escola == False %}checked{% endif %}>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                        <div class="input-wrapper">
                            <div class="form-control" id="utilizacao_escola" name="utilizacao_escola">
                                <div class="{% if operacao_info.escolas_perto %}{% else %}hide{% endif %}" style="margin-left: 20px; text-align: left; word-wrap: break-word;">
                                    <label for="data">Houve utilização de equipamento educacional para baseamento de recursos operacionais?</label>
                                    <div class="form-control-input-radios">
                                        <label> Sim</label>
                                        <input type="radio" name="option-utilizacao-escola" value="1"
                                               {% if operacao_info.utilizacao_escola %}checked{% endif %}>
                                        <label style="margin-left: 20px">Não</label>
                                        <input type="radio" name="option-utilizacao-escola" value="0"
                                               {% if operacao_info.utilizacao_escola == False %}checked{% endif %}>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                        <div class="input-wrapper">
                            <div class="form-control" id="saude_perto" name="saude_perto">
                                <div style="margin: 40px 0px 0px 20px; text-align: left;">
                                    <label for="data">Unidades de saúde nas proximidades?</label>
                                    <div class="form-control-input-radios">
                                        <label> Sim</label>
                                        <input type="radio" name="option-saude" value="1" onclick="verifica_saude()"
                                               {% if operacao_info.saude_perto %}checked{% endif %}>
                                        <label style="margin-left: 20px">Não</label>
                                        <input type="radio" name="option-saude" value="0" onclick="verifica_saude()"
                                               {% if operacao_info.saude_perto == False %}checked{% endif %}>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="input-wrapper">
                            <div class="form-control" id="comunicacao_saude" name="comunicacao_saude">
                                <div class="{% if operacao_info.saude_perto %}{% else %}hide{% endif %}" style="margin-left: 20px; text-align: left;">
                                    <label for="data">Houve comunicação prévia às autoridades de saúde?</label>
                                    <div class="form-control-input-radios">
                                        <label> Sim</label>
                                        <input type="radio" name="option-comunicao-saude" value="1"
                                               {% if operacao_info.comunicacao_saude %}checked{% endif %}>
                                        <label style="margin-left: 20px">Não</label>
                                        <input type="radio" name="option-comunicao-saude" value="0"
                                               {% if operacao_info.comunicacao_saude == False %}checked{% endif %}>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                        <div class="input-wrapper">
                            <div class="form-control" id="utilizacao_saude" name="utilizacao_saude">
                                <div class="{% if operacao_info.saude_perto %}{% else %}hide{% endif %}" style="margin-left: 20px; text-align: left;">
                                    <label for="data">Houve utilização de equipamento de saúde para baseamento de recursos operacionais?</label>
                                    <div class="form-control-input-radios">
                                        <label> Sim</label>
                                        <input type="radio" name="option-utilizacao-saude" value="1"
                                               {% if operacao_info.utilizacao_saude %}checked{% endif %}>
                                        <label style="margin-left: 20px">Não</label>
                                        <input type="radio" name="option-utilizacao-saude" value="0"
                                               {% if operacao_info.utilizacao_saude == False %}checked{% endif %}>
                                    </div>
                                </div>
                            </div>
                        </div>   
                    </div>  

                    <div class="box-form-group">
                        <div class="">
                            <label>Análise de riscos e medidas de controle de danos colaterais das operações:</label>
                            <textarea style="width: 100vh; height: 200px;" type="text"
                                      id="descricao_analise_risco"
                                      value="{{ operacao_info.descricao_analise_risco|default:'' }}"
                                      name="descricao_analise_risco">{{ operacao_info.descricao_analise_risco|default:'' }}
                            </textarea>
                        </div>
                    </div>

                </form>
                <div><p>Página 5</p></div>
                <div class="btns-forms">
                    <div class="btns-forms">
                        <a href="{% url 'operations:form-operational-info-page-one' form_uuid %}">
                            <button type="submit" class="btn-previus">Anterior</button>
                        </a>
                    </div>
                    <button type="submit" class="btn-next" onclick="submitFormInfo(event);">Proxímo</button>
                </div>
            </div>
        </div>
        <div class="logo">
            <img src="{% static "img/logo-MP.png" %}" alt="logo_MP">
        </div>
    </div>
{% endblock content %}

{% block extra_js %}

    <script>

        //toggleOrdemOperacoesField();
        const FORWARD_URL = '/operacoes/cadastro/informacoes/etapa-1-concluida/';
        const API_URL = '/v1/operacoes/cria-informacoes-operacionais-parte-2/';
        const FORM_VAR_LIST = {
            "numero_viaturas_mobilizadas": "#numero_viaturas_mobilizadas",
            "numero_agentes_mobilizados": "#numero_agentes_mobilizados",
            "numero_veiculos_blindados": "#numero_veiculos_blindados",
            "numero_aeronaves": "#numero_aeronaves",
            "numero_ambulancia": "#numero_ambulancia",
            "justificativa_uso_aeronave": "#justificativa_uso_aeronave",
            "numero_equipes_medicas": "#numero_equipes_medicas",
            "escolas_perto": "#escolas_perto",
            "comunicacao_escola":"#comunicacao_escola",
            "utilizacao_escola": "#utilizacao_escola",
            "saude_perto": "#saude_perto",
            "comunicacao_saude":"#comunicacao_saude",
            "utilizacao_saude": "#utilizacao_saude",
            "descricao_analise_risco": "#descricao_analise_risco"
        };

        function toggleOrdemOperacoesField() {
            tipoOperacaoField = document.querySelector("#tipo_operacao");
            ordemOperacoesField = document.querySelector("#numero_ordem_operacoes");

            if (tipoOperacaoField.value == "Em") {
                ordemOperacoesField.disabled = true;
                ordemOperacoesField.classList.add("input-disabled");
            } else {
                ordemOperacoesField.disabled = false;
                ordemOperacoesField.classList.remove("input-disabled");
            }

        }

        function verifica_escola() {
          const comunicacao_escola = document.getElementById("comunicacao_escola");
          const primeiro_radio_escola = document.getElementsByName("option-escolas")[0].checked;
          const segundo_radio_escola = document.getElementsByName("option-escolas")[1].checked;
          comunicacao_escola_classe = comunicacao_escola.firstElementChild;
          
          const utilizacao_escola = document.getElementById("utilizacao_escola");
          const primeiro_radio_utilizacao_escola = document.getElementsByName("option-utilizacao-escola")[0].checked;
          const segundo_radio_utilizacao_escola = document.getElementsByName("option-utilizacao-escola")[1].checked;
          utilizacao_escola_classe = utilizacao_escola.firstElementChild;
  
          if (primeiro_radio_escola) {
            console.log('abre');
            comunicacao_escola_classe.classList.remove('hide')
            utilizacao_escola_classe.classList.remove('hide')
           
          } else if  (segundo_radio_escola) {
            console.log('fecha');
            comunicacao_escola_classe.classList.add('hide')
            utilizacao_escola_classe.classList.add('hide')
   
          }
        };

        function verifica_saude() {
            const comunicacao_saude = document.getElementById("comunicacao_saude");
            const primeiro_radio_saude = document.getElementsByName("option-saude")[0].checked;
            const segundo_radio_saude = document.getElementsByName("option-saude")[1].checked;
            comunicacao_saude_classe = comunicacao_saude.firstElementChild;
            
            const utilizacao_saude = document.getElementById("utilizacao_saude");
            const primeiro_radio_utilizacao_saude = document.getElementsByName("option-utilizacao-saude")[0].checked;
            const segundo_radio_utilizacao_saude = document.getElementsByName("option-utilizacao-saude")[1].checked;
            utilizacao_saude_classe = utilizacao_saude.firstElementChild;
    
            if (primeiro_radio_saude) {
              console.log('abre');
              comunicacao_saude_classe.classList.remove('hide')
              utilizacao_saude_classe.classList.remove('hide')
             
            } else if  (segundo_radio_saude) {
              console.log('fecha');
              comunicacao_saude_classe.classList.add('hide')
              utilizacao_saude_classe.classList.add('hide')
     
            }
          };
        

        

    </script>
    <style>
        .hide{
            display: none;
        }
    </style>
{% endblock extra_js %}
