{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Cadastro Completo</title>
{% endblock title %}

{% block content %}
<div class="operation-form">
    <span>Cadastro de Operações</span>
    <div class="main-page-form">
        <div class="header-form">
            <div class="text-header-form">
                <p>Finalização do cadastro</p>
            </div>
            <div>
                <div class="progressbar-text">
                    <p>Informações de Registro</p>
                    <p>Informações Gerais 1/1</p>
                    <p>Informações Gerais 1/2</p>
                    <p>Informações Operacionais 1/1</p>
                    <p>Informações Operacionais 1/2</p>
                    <p>Informações de Resultado 1/1</p>
                    <p>Informações de Resultado 1/2</p>
                    <p>Informações de Resultado 1/3</p>
                    <p>Finalizar cadastro</p>
                </div>
                <progress max="100" value="100" id="progressbar"></progress>
                <ul class="progressbar">
                    <li class="progressbar-checked"></li>
                    <li class="progressbar-checked"></li>
                    <li class="progressbar-checked"></li>
                    <li class="progressbar-checked"></li>
                    <li class="progressbar-checked"></li>
                    <li class="progressbar-checked"></li>
                    <li class="progressbar-checked"></li>
                    <li class="progressbar-checked"></li>
                    <li class="progressbar-checked"></li>
                </ul>
            </div>
        </div>
        <div class="page-final-cadastro">
            <img src="{% static "img/icon-checked.png" %}" alt="icon-checked">
            <span style="margin-top: -25px">Primeira etapa concluída yada yada!</span>
            <p>A preencher de acordo com o design aqui</p>
            <div class="btns-forms">
                <div class="btns-forms">
                    <a href="{% url 'operations:operations-list' %}">
                        <button type="submit" class="btn-previus">Salvar e fechar cadastro</button>
                    </a>
                </div>
                <div class="btns-forms">
                    <a href="{% url 'operations:form-info-result-page-one' form_uuid %}">
                        <button type="submit" class="btn-next" >Cadastrar resultados ></button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- {% block extra_js %}
<script>
    //toggleOrdemOperacoesField();
    const FORWARD_URL = '/operacoes/cadastro/informacoes/resultado/parte-1/';
    const formUUID = "{{ form_uuid }}"

    function goToNextPage(event) {
        event.preventDefault();
        const forwardFullURL = FORWARD_URL + formUUID;

        window.location = forwardFullURL;
    }
</script>

{% endblock extra_js %} -->