{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Cadastro Completo</title>
{% endblock title %}

{% block content %}
<div class="operation-form">
    <span>Cadastro de Operações</span>
<div class="main-page-form">
    <div class="header-form">
        <div class="text-header-form">
            <p>Finalização do cadastro</p>
        </div>
        <div>
            <div class="progressbar-text">
                <p>Informações de Registro</p>
                <p>Informações Gerais</p>
                <p>Informações Operacionais</p>
                <p>Informações da Ocorrência</p>
                <p>Finalizar cadastro</p>
            </div>
            <progress max="100" value="100" id="progressbar"></progress>
            <ul class="progressbar">
                <li class="progressbar-checked"></li>
                <li class="progressbar-checked"></li>
                <li class="progressbar-checked"></li>
                <li class="progressbar-checked"></li>
                <li class="progressbar-checked"></li>
            </ul>
        </div>
    </div>
    <div class="page-final-cadastro">
        <img src="{% static "img/icon-checked.png" %}" alt="icon-checked">
        <span style="margin-top: -25px">Etapa 01 do cadastro concluído!</span>
        <p>As próximas informações a serem preenchidas são informações referentes
        aos resultados da operação. Caso a operação ainda não tenha sido finalizada
        clique em<span>“Salvar e fechar cadastro”</span>para preenche-lo futuramente.
        Se já possui as informações conclusivas da operação, clique em
        <span>“Continuar cadastro da operação”.</span>
        </p>
        <div class="btns-forms">
            <div class="btns-forms">
                <a href="{% url 'home' %}">
                    <button type="submit" class="btn-previus">Página inicial</button>
                </a>
            </div>
            <div class="btns-forms">
                <a href="{% url 'operations:form' %}">
                    <button type="submit" class="btn-next">Cadastrar nova operação +</button>
                </a>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock content %}