{% extends 'base.html' %}
{% load static %}

{% block title %}<title>ROPC</title>{% endblock title %}

{% block content %}
<div class="main-initial-page">
        <div class="table-list"  style="max-width: fit-content">
            <h2>Últimas operações cadastradas</h2>
            <p style="margin-left: 30px">Aqui é onde se encontram as informações referentes às operações cadastradas e onde você pode editá-las.</p>
            <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center; ">
                <form style="" method="get" action="">
                    <input type="text" name="q" placeholder="Buscar operação..." value="{{ request.GET.q }}">
                    <button type="submit">Buscar</button>
                </form>
                <div>
                    Download de operações
                </div>
            </div>
            <table>
                <tr>
                    <th style="padding: 0 1.25rem; font-size: 1.375rem; text-align: left;" >Operação</th>
                    <th></th>
                    <th></th>
                    <th style="padding: 0 1.25rem; font-size: 1.375rem; text-align: left;">Data</th>
                    <th style="padding: 0 1.25rem; font-size: 1.375rem; text-align: left;">Responsável/Delegacia</th>
                    <th style="padding: 0 1.25rem; font-size: 1.375rem; text-align: left;">Local</th>
                    <th style="padding: 0 1.25rem; font-size: 1.375rem; text-align: left;">Status</th>
                    <!-- <th>PDF</th> -->
                </tr>
            
                {% for info_operacao in object_list %}
                <tr class="tr-lista-operacao" style="cursor: default;">
                    <td style="font-size: 1.375rem; text-align: left; padding: 0 1.25rem;">{{ info_operacao.nome_operacao|default:'' }}</td>
                    
                    <td ><span style="padding: 4px 8px;margin-right: 8px; font-size:0.75rem; white-space: nowrap; min-width: fit-content; min-height:  fit-content; background: #292929; cursor: pointer; border-radius: 8px;" 
                        onclick="openOperacao('{% url 'operations:form-update' info_operacao.identificador %}');">
                        Ver detalhes
                        </span>
                    </td>
                    <td><span style="padding: 4px 8px; font-size:0.75rem; white-space: nowrap; min-width: fit-content; min-height:  fit-content; background: #292929; cursor: pointer; border-radius: 8px;" 
                        onclick="openOperacao('{% url 'operations:form-update' info_operacao.identificador %}');">Editar</span></td>
                    <td style="font-size: 1.375rem; text-align: left; padding: 0 1.25rem;">{{ info_operacao.data|date:"d/m/Y" }}</td>
                    <td style="font-size: 1.375rem; text-align: left; padding: 0 1.25rem;">
                        {{ info_operacao.nome_delegado_operacao|default:'' }}
                        {% if info_operacao.unidade_responsavel %}
                        - {{ info_operacao.unidade_responsavel|default:'' }}
                        {% endif %}
                    </td>
                    <td style="font-size: 1.375rem; text-align: left; padding: 0 1.25rem;">{{ info_operacao.localidade_operacao.all.0.municipio }} - {{ info_operacao.localidade_operacao.all.0.bairro }}</td>
                    <td style="font-size: 1.375rem; text-align: left; padding: 0 1.25rem;"> {% if info_operacao.completo %}
                        <span style="color: #88DF41">Completo</span>
                        {% else %}
                        <span style="color: #DF6141">Incompleto</span>
                        {% endif %}
                    </td>
                    <!-- <td><a href="{% url 'operations:generate_pdf' info_operacao.identificador %}">Exportar</a></td> -->
                </tr>
                {% endfor %}
                
            </table>
        </div>
       

{% if page_obj.has_other_pages %}
        <ul class="pagination" style="display:flex; flex-direction:row; gap:8px; align-items: center; justify-content: center;">
        {% if page_obj.has_previous %}
        <li ><a style="border-radius: 8px;" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
        {% else %}
        <li class="disabled"><strong>&laquo;</strong></li>
        {% endif %}
        {% for i in page_obj.paginator.page_range %}
        {% if page_obj.number == i %}
        <li class="active"><strong>{{ i }} <strong class="sr-only"></strong></strong></li>
        {% else %}
        <li><a style="border-radius: 8px;" href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
        <li><a style="border-radius: 8px;" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
        {% else %}
       <li class="disabled"><strong>&raquo;</strong></li>
       {% endif %}
      </ul>h
{% endif %}
</div>

{% endblock content %}

{% block extra_js %}
<script>
function openOperacao(url){
    let win = window.open(url, '_blank');
    win.focus();
}
</script>

{% endblock extra_js %}