{% extends 'base.html' %}
{% load static %}

{% block title %}<title>ROPC</title>{% endblock title %}

{% block content %}
<style>
    button {
        transition: background-color 0.2s;
    }
   button:hover {
        background-color:#E5A324;
    }
    input::placeholder {
        text-align: left;
        color: #FEBC2E; 
        font-size: 1rem; 
        line-height: 100%;
    }
    #meuBotao {
            padding: 10px 20px;
            font-size: 16px;
            border: none;
            cursor: pointer;
            background-color: #007bff;
            color: white;
            border-radius: 5px;
        }

        .loading {
            position: relative;
            pointer-events: none;
            opacity: 0.7;
        }

        .loading::after {
            content: "⏳ Carregando...";
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
</style>
<div class="main-initial-page">
        <div class="table-list"  style="margin:2rem;">
        
                <h2 sty>Últimas operações cadastradas</h2>
                <p style="margin-left: 30px">Aqui é onde se encontram as informações referentes às operações cadastradas e onde você pode editá-las.</p>
            
                <div style="padding: 0 1.25rem; display: flex; 
                    flex-direction: row; justify-content: space-between; align-items: center; background:#121212;">
                    <form style="display: flex;
                    justify-content: center; width: 500px; height: max-content; margin: auto 0; gap: .5rem;" method="get" action="">
                        <input  style="text-align: left;  font-size: 1rem;background: #333333; color: #FEBC2E; width: 37.5rem; border-radius: 8px;" type="text" name="q" placeholder="Pesquisar na lista" value="{{ request.GET.q }}">
                        <button  style="width: 9.375rem; border-radius: 8px; font-size: 1rem; letter-spacing: 1px;" type="submit">Buscar</button>
                    </form>
                    <a id="meuBotao" style="color: #FEBC2E; width: 224px; height: 1.5rem; border-radius: 8px; background: #333333; display: flex; align-items: center; justify-content: center; cursor:pointer;"
                        href="{% url 'operations:generate_excel' %}" onclick="carregar()">
                        Download de operações
                    </a>
                </div>
       
         
            <table style="width: 100%; margin: 0 auto">
                <tr>
                    <th style="padding: 1rem 1.25rem; font-size: 1.375rem; text-align: left;" >Operação</th>
                    <th></th>
                    <th></th>
                    <th style="padding: 1rem 1.25rem; font-size: 1.375rem; text-align: left;">Data</th>
                    <th style="padding: 1rem 1.25rem; font-size: 1.375rem; text-align: left;">Responsável/Delegacia</th>
                    <th style="padding: 1rem 1.25rem; font-size: 1.375rem; text-align: left;">Local</th>
                    <th style="padding: 1rem 1.25rem; font-size: 1.375rem; text-align: left;">Status</th>
                    <!-- <th>PDF</th> -->
                </tr>
            
                {% for info_operacao in object_list %}
                <tr class="tr-lista-operacao" style="cursor: default;">
                    <td style="font-size: 1.375rem; text-align: left; padding: 1rem 1.25rem;">{{ info_operacao.nome_operacao|default:'' }}</td>
                    
                    <td>
                        <span style="padding: 4px 8px;margin-right: 8px; font-size:0.75rem; white-space: nowrap; min-width: fit-content; min-height:  fit-content; background: #292929; cursor: pointer; border-radius: 8px;" 
                        onclick="openOperacao('{% url 'operations:operation-detail' info_operacao.identificador %}');">
                        Ver detalhes
                        </span>
                    </td>
                    <td><span style="padding: 4px 8px; font-size:0.75rem; white-space: nowrap; min-width: fit-content; min-height:  fit-content; background: #292929; cursor: pointer; border-radius: 8px;" 
                        onclick="openOperacao('{% url 'operations:form-update' info_operacao.identificador %}');">Editar</span></td>
                    <td style="font-size: 1.375rem; text-align: left; padding: 1rem 1.25rem;">{{ info_operacao.data|date:"d/m/Y" }}</td>
                    <td style="font-size: 1.375rem; text-align: left; padding: 1rem 1.25rem;">
                        {{ info_operacao.nome_delegado_operacao|default:'' }}
                        {% if info_operacao.unidade_responsavel %}
                        - {{ info_operacao.unidade_responsavel|default:'' }}
                        {% endif %}
                    </td>
                    <td style="font-size: 1.375rem; text-align: left; padding: 1rem 1.25rem;">{{ info_operacao.localidade_operacao.all.0.municipio }} - {{ info_operacao.localidade_operacao.all.0.bairro }}</td>
                    <td style="font-size: 1.375rem; text-align: left; padding: 1rem 1.25rem;"> {% if info_operacao.completo %}
                        <span style="color: #88DF41">Completo</span>
                        {% else %}
                        <span style="color: #DF6141">Incompleto</span>
                        {% endif %}
                    </td>
          
                </tr>
                {% endfor %}
                
            </table>
    
        </div>
        

{% if page_obj.has_other_pages %}
    {% with search_query=query_params.q %}

        <ul class="pagination" style="display:flex; flex-direction:row; gap:8px; align-items: center; justify-content: center;">
        {% if page_obj.has_previous %}
        <li ><a style="border-radius: 8px;" href="?page={{ page_obj.previous_page_number }}&q={{ search_query }}">&laquo;</a></li>
        {% else %}
        <li class="disabled"><strong>&laquo;</strong></li>
        {% endif %}
        {% for i in page_obj.paginator.page_range %}
        {% if page_obj.number == i %}
        <li class="active"><strong>{{ i }} <strong class="sr-only"></strong></strong></li>
        {% else %}
        <li><a style="border-radius: 8px;" href="?page={{ i }}&q={{ search_query }}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
        <li><a style="border-radius: 8px;" href="?page={{ page_obj.next_page_number }}&q={{ search_query }}">&raquo;</a></li>
        {% else %}
       <li class="disabled"><strong>&raquo;</strong></li>
       {% endif %}
      </ul>
    {% endwith %}
{% endif %}
</div>

{% endblock content %}

{% block extra_js %}
<script>
function openOperacao(url){
    let win = window.open(url, '_blank');
    win.focus();
}

function carregar() {
    let botao = document.getElementById("meuBotao");
    botao.classList.add("loading");
    botao.textContent = ""; 

    // Delay para impedir multiplos cliques
    setTimeout(() => {
        botao.classList.remove("loading");
        botao.textContent = "Download de operações"; 
    }, 2000); 
}
</script>

{% endblock extra_js %}