{% extends 'base.html' %}
{% load static %}

{% block title %}<title>ROPC</title>{% endblock title %}

{% block content %}
<div class="main-initial-page">
        <div class="table-list">
            <h2>Últimas operações cadastradas</h2>
            <p style="margin-left: 30px">Aqui é onde se encontram as informações referentes às operações cadastradas e onde você pode editá-las.</p>
            <table>
                <tr>
                    <th>Operação</th>
                    <th></th>
                    <th></th>
                    <th>Data</th>
                    <th>Responsável/Delegacia</th>
                    <th>Local</th>
                    <th>Status</th>
                    <!-- <th>PDF</th> -->
                </tr>
                {% for info_operacao in object_list %}
                <tr class="tr-lista-operacao" onclick="openOperacao('{% url 'operations:form-update' info_operacao.identificador %}');">
                    <td>{{ info_operacao.nome_operacao|default:'' }}</td>
                    <td><span style="padding: 4px 8px; background: #292929; height: 24px !important;">Ver detalhes</span></td>
                    <td>icon</td>
                    <td>{{ info_operacao.data|date:"d/m/Y" }}</td>
                    <td>
                        {{ info_operacao.nome_delegado_operacao|default:'' }}
                        {% if info_operacao.unidade_responsavel %}
                        - {{ info_operacao.unidade_responsavel|default:'' }}
                        {% endif %}
                    </td>
                    <td>{{ info_operacao.localidade_operacao.all.0.municipio }} - {{ info_operacao.localidade_operacao.all.0.bairro }}</td>
                    <td> {% if info_operacao.completo %}
                        <span style="color: #88DF41">Completo</span>
                        {% else %}
                        <span style="color: #DF6141">Incompleto</span>
                        {% endif %}
                    </td>
                    <!-- <td><a href="{% url 'operations:generate_pdf' info_operacao.identificador %}">Exportar</a></td> -->
                </tr>
                {% endfor %}
            </table>
        </div>
       

{% if page_obj.has_other_pages %}
        <ul class="pagination" style="display:flex; flex-direction:row; gap:8px; align-items: center; justify-content: center;">
        {% if page_obj.has_previous %}
        <li ><a style="border-radius: 8px;" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
        {% else %}
        <li class="disabled"><strong>&laquo;</strong></li>
        {% endif %}
        {% for i in page_obj.paginator.page_range %}
        {% if page_obj.number == i %}
        <li class="active"><strong>{{ i }} <strong class="sr-only"></strong></strong></li>
        {% else %}
        <li><a style="border-radius: 8px;" href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
        <li><a style="border-radius: 8px;" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
        {% else %}
       <li class="disabled"><strong>&raquo;</strong></li>
       {% endif %}
      </ul>h
{% endif %}
</div>

{% endblock content %}

{% block extra_js %}
<script>
function openOperacao(url){
    let win = window.open(url, '_blank');
    win.focus();
}
</script>
{% endblock extra_js %}