{% extends 'base.html' %}
{% load static %}

{% block title %}<title>ROPC</title>{% endblock title %}

{% block content %}
<div class="main-initial-page" style='grid-area: pageForm; margin-right: 100px;'>
    <img id="panel-soon" src="{% static "img/tela-em-breve.png" %}" alt="em-breve-painel">
    <!-- <h2>Painel das operações</h2>
    <p style="margin-left: 30px;">Aqui são apresentados de forma resumida as principais informações das operações.</p>
    <div class="info-initial-page">
        <div class="container" style="height:100%;width:100%;"> -->
            <!-- <script type="text/javascript" src="{{ tableau_host }}javascripts/api/viz_v1.js"></script>
            <object class="tableauViz" width="900" height="700" style="display:block;">
                <param name="path"
                    value="{{ tableau_trunc_url }}" />
            </object> -->

            <!-- <iframe
                src="{{ tableau_url }}"
                width="800" height="600">
            </iframe> -->
        <!-- </div> -->
    </div>
{% endblock content %}

{% block extra_js %}
<script>
    const vizContainer = document.getElementById("tableauViz");
    vizContainer.height = window.innerHeight;

    window.addEventListener("resize", () => {
        console.log(
            `Resizing the window ${window.innerHeight}, ${window.innerWidth}`
        );
        vizContainer.height = window.innerHeight;
    });
</script>
{% endblock extra_js %}